<section class="container my-5">
  <div class="row justify-content-center">
    <app-alert-errors [errors]="errors"/>
    <div class="col-md-6">
      <h2 class="text-center">Login</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" id="email" class="form-control" formControlName="email">
          <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="text-danger">
            <small *ngIf="loginForm.get('email')?.errors?.['required']">O email é obrigatório.</small>
            <small *ngIf="loginForm.get('email')?.errors?.['email']">O email é inválido.</small>
          </div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Senha</label>
          <input type="password" id="password" class="form-control" formControlName="password">
          <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-danger">
            <small *ngIf="loginForm.get('password')?.errors?.['required']">A senha é obrigatória.</small>
          </div>
        </div>
        <button type="submit" class="btn btn-primary w-100" [disabled]="loginForm.invalid">Entrar</button>
        <div class="text-center mt-3">
          <a routerLink="/register">Não tem uma conta? Registre-se aqui</a>
        </div>
      </form>
    </div>
  </div>
</section>

